<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>

	<nav class="body-cover nav-wrap">
		<div class="inner-cover nav-cover">
			
			<div class="user">
				<ul>
					<li><a href="">single user</a></li>
					<li><a href=""> co-operate user</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="body-cover form-bg">

		<div class="form-box">

			<div class="login-descript">
				<img src="../image/agri.png" alt="">
				<h1>welcome to agriTrade</h1>
				<p>If you are the only signatory, select the single user tab</p>
			</div>
			<div class="login-form">
				<div class="form">
					<input type="text" required="">
					<label for="name" class="label-name"><span class="label-content">Name</span></label>
				</div>
			</div>
			<div class="login-info">
				
			</div>
			
		</div>
		
	</section>
	
</body>
</html>