<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agric-Trade</title>
	<link rel="stylesheet" href="../css/main.css">
	<link rel="shortcut icon" href="image/agri.png" type="image/x-icon">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="js/script.js" defer/></script>
</head>
<body>
	
		<header>
		<div id="timeline">
			<div class="icons">
				<ul>
					<li id="list-1"><i class="fa fa-facebook" aria-hidden="true"></i></li>
					<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
					<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
					<li><i class="fa fa-whatsapp" aria-hidden="true"></i></li>
				</ul>
				
			</div>
			<div id="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>+233545058937
			 <span><i class="fa fa-envelope" aria-hidden="true"></i> bigthinzcount@gmail.com</span>
			 
			</div>

			<div class="loging">
				<a href="views/login.html"><span>login</span></a> /
			 	<a  href="views/signup.html" class="signup" ><span >sign-up</span></a>
			</div>
		</div>

		<div class="head-img-wrap trade-img-head" >
			<div class="head-img">
		<div class="wrap">
			<span class="logo">
				<a href="#"><img src="../image/agri.png" alt=""></a>
				 <div class="logo-sub">AgriTrade</div>
			</span>
			<div class="navs">
			<ul>
				<a href="views/trade.html"><li>Trade</li></a>
				<a href="views/invest.html"><li>Invest</li></a>
				<a href="views/market/thml"><li>Market</li></a>
				<a href="views/list.html"><li>List</li></a>
				<a href="views/about.html"><li>about us</li></a>
				
			</ul>
			<span><a href="#" id="rent-btn">download app</a></span>
		</div>
		</div>
		
			<div class="text trade-text">
         <p>
             AGRI-TRADE
         </p>
         
         <a href="#" class="bttn">join now</a>
     </div>


		</div>
		</div>

		
		
	</header>





	
</body>
</html>